{% extends "admin_panel/base.html" %}
{% block content %}
<div class="container mt-4">
  <h3>Reset Password for {{ user.username }}</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label>New Password</label>
      <input class="form-control" name="new_password" type="password" required>
    </div>
    <div class="mb-3">
      <label>Confirm Password</label>
      <input class="form-control" name="new_password2" type="password" required>
    </div>
    <button class="btn btn-warning">Reset Password</button>
    <a href="{% url 'manage_users' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
